<:Title>
  Examples

<:Body>
  
  <h1 class="header_text_center">Opal-Phaser Examples</h1>
  
  <h2 class="header_text_left">Basics</h2>
  
  <ul>
    <li><a href="/examples/basics/click_on_an_image">Click On An Image</a></li>
  </ul>
  <ul>
    <li><a href="/examples/basics/image_follow_input">Image Follow Input</a></li>
  </ul>
  <ul>
    <li><a href="/examples/basics/load_an_animation">Load An Animation</a></li>
  </ul>
  <ul>
    <li><a href="/examples/basics/load_an_image">Load An Image</a></li>
  </ul>
  <ul>
    <li><a href="/examples/basics/move_an_image">Move An Image</a></li>
  </ul>
  <ul>
    <li><a href="/examples/basics/render_text">Render Text</a></li>
  </ul>
  <ul>
    <li><a href="/examples/basics/tween_an_image">Tween An Image</a></li>
  </ul>
  
  <h2 class="header_text_left">Animation</h2>
  
  <ul>
    <li><a href="/examples/animation/animation_events">Animation Events</a></li>
  </ul>
  <ul>
    <li><a href="/examples/animation/change_frame">Change Frame</a></li>
  </ul>
  <ul>
    <li><a href="/examples/animation/change_texture_on_click">Change Texture On Click</a></li>
  </ul>
  <ul>
    <li><a href="/examples/animation/destroy_animation">Destroy Animation</a></li>
  </ul>
  <ul>
    <li><a href="/examples/animation/dynamic_animation">Dynamic Animation</a></li>
  </ul>
  <ul>
    <li><a href="/examples/animation/group_creation">Group Creation</a></li>
  </ul>
  <ul>
    <li><a href="/examples/animation/load_texture">Load Texture</a></li>
  </ul>
  <ul>
    <li><a href="/examples/animation/looped_animation">Looped Animation</a></li>
  </ul>
  <ul>
    <li><a href="/examples/animation/multiple_anims">Multiple Anims</a></li>
  </ul>
  
  <h2 class="header_text_left">Bitmap Data</h2>
  
  <ul>
    <li><a href="/examples/bitmap_data/alpha_mask">Alpha Mask</a></li>
  </ul>
  
  <h2 class="header_text_left">Sprites</h2>
  
  <ul>
    <li><a href="/examples/sprites/dynamic-crop">Dynamic Crop</a></li>
  </ul>