<:Title>
  Examples

<:Body>
  
  <h1 id="header_text">Opal-Phaser Examples</h1>
  
  <h2 id="header_text_left">Basics</h2>
  
  <ul>
    <li><a href="/examples/basics/click_on_an_image">Click On An Image</a></li>
  </ul>
  <ul>
    <li><a href="/examples/basics/image_follow_input">Image Follow Input</a></li>
  </ul>
  <ul>
    <li><a href="/examples/basics/load_an_animation">Load An Animation</a></li>
  </ul>
  <ul>
    <li><a href="/examples/basics/load_an_image">Load An Image</a></li>
  </ul>
  <ul>
    <li><a href="/examples/basics/move_an_image">Move An Image</a></li>
  </ul>
  <ul>
    <li><a href="/examples/basics/render_text">Render Text</a></li>
  </ul>
  <ul>
    <li><a href="/examples/basics/tween_an_image">Tween An Image</a></li>
  </ul>