body {
  background-image: url(../images/header-bg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #e0e4f1;
}

@media (screen and max-width: 400px) {
  body {
    background-size: 100% 25%;
  }
}

.jumbotron h1 {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

a {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 5px;
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
  background-color: rgba(0,0,0,0.7);
}

hr {
  border-color: black;
}

.nav {
  background-size: 100%;
  background-repeat: no-repeat;

  padding: 5px;
  background: linear-gradient(to bottom, RGBA(98, 97, 98, 0.9) 0%, RGBA(64, 64, 64, 0.5) 100%);
  text-align: center;
}

@media (screen and min-width: 500px) {
  .nav {
    height: 40px;
  }
}

.nav a { display: inline-block }
.nav a:not(.logo_link) {
  background-color: transparent;

  border: none;

  color: white;
  text-transform: uppercase;
  text-shadow: none;

  font-size: 15px;
  font-weight: bold;

  padding-left: 1.2em;
  padding-right: 1.2em;
}

.nav a:hover {
  text-decoration: none;
  text-shadow: 0 0 10px;
}

.nav .logo_link {
  background-color: transparent;
  border: none;
  float:left;
  position: relative;
  top: -12px;
}

.logo {
  background-image: url(../images/logo);
  background-size: 100%;

  width:  64px;
  height: 64px;
}

.equation {
  background-image: url(../images/opal-phaser-equation);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
}

@media (screen and min-width: 500px) {
  .equation { height: 180px; }
}

@media (screen and min-width: 1000px) {
  .equation { height: 250px; }
}

.jumbotron { background: none; }

.header_text_center {
  color: white;
  text-shadow: 0 0 15px red;
  text-align: center;

  clear: both;
}

.header_text_left {
  color: white;
  text-shadow: 0 0 15px red;
  text-align: left;
}

#description {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 918.3999999999999px;
}

.front_page_code {
  font-size: 15px;
  color: #527ACC;
}

#footer {
  clear: both;
  width: 100%;
  background-color: #2C3334;
  color: #CCCCCC;
  padding-top: 1.5em;
  margin-top: 1.5em;
}

#footer a {
  color: #CCCCCC;
  background: transparent;
}

#footer .logo_link {
  display:block;
  text-align: center;
}

#footer .logo {
  width: 100px;
  height: 100px;
  display: inline-block;
}

#footer h3 {color: white }

#footer ul {
  list-style-type: disc;
  list-style-position: inside;
  padding: 0
}

#footer ul a:hover {
  // text-decoration: underline;
  color: white;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
  border: none;
}

#copyright {
  margin-left: 0.5em;
  color: gray;
  text-align: center;
}
