<:Title>
  Home

<:Body>
  <h1 class="header_text">Opal-Phaser:</h1>
  <h2 class="header_text">Make browser games in Ruby</h2>
  <div id="description">
    <p>Opal-Phaser is an <a href="http://opalrb.org">Opal</a> wrapper for the <a href="http://phaser.io">Phaser</a> framework, to write Canvas or WebGL games in Ruby.</p>
    <p>Follow Opal-Phaser development and news on <a href="https://twitter.com/opalphaser">Twitter</a> or <a href="https://github.com/orbitalimpact/opal-phaser">GitHub</a>.</p>
    
    <h2>Getting Started</h2>
    <p>To get opal-phaser, run this in your project directory:</p>
    <code class="front_page_code">$ gem install opal-phaser</code>
    <p>Or, add this line to your Gemfile:</p>
    <code class="front_page_code">gem 'opal-phaser'</code>
    <p>You might also want to specify a git repository, since Opal-Phaser is under development and the RubyGems library is not always up to date.</p>
    <p>You can use either of these lines to do so:</p>
    <code class="front_page_code">gem 'opal-phaser', git: 'https://github.com/orbitalimpact/opal-phaser.git'</code>
    <code class="front_page_code">gem 'opal-phaser', github: 'orbitalimpact/opal-phaser'</code>
    
    <h2>Examples</h2>
    <p>There is an in-progress collection of examples for Opal-Phaser, which are Ruby versions of <a href="http://phaser.io/examples">Phaser's examples</a>.</p>
    <p>You can check out Opal-Phaser examples under the tab above or in their <a href="https://github.com/orbitalimpact/opal-phaser-examples">GitHub repository</a>.</p>
  </div>