<:Title>
  Opal-Phaser

<:Body>
  
  <h1 class="header_text_center" id="index_main_header">Opal-Phaser:</h1>
  <h2 class="header_text_center">Make browser games in Ruby</h2>
  <div class="equation"></div>
  
  <div id="description">
    <p>Opal-Phaser is an <a href="http://opalrb.org">Opal</a> wrapper for the <a href="http://phaser.io">Phaser</a> framework, to write Canvas or WebGL games in Ruby.</p>
    <p>Follow Opal-Phaser development and news on <a href="https://github.com/orbitalimpact/opal-phaser">GitHub</a> or <a href="https://twitter.com/opalphaser">Twitter</a>, and feel free to chat with us in our <a href="https://gitter.im/orbitalimpact/opal-phaser">Gitter</a> room.</p>
    
    <h2 class="header_text_left">Getting Started</h2>
    <hr>
    <h3>RubyGem Installation</h3>
    <p>To get Opal-Phaser as a gem, run this in your project directory:</p>
    <p><code class="front_page_code">$ gem install opal-phaser</code></p>
    <p>Or, add this line to your project's Gemfile:</p>
    <p><code class="front_page_code">gem 'opal-phaser'</code></p>
    <p>You can also specify a Git(Hub) repository, since Opal-Phaser is under development and the version on RubyGems is not always up to date.</p>
    <p><code class="front_page_code">gem 'opal-phaser', github: 'orbitalimpact/opal-phaser'</code></p>
    <h3>CDN</h3>
    <p><i>Coming soon!</i></p>
    <h2 class="header_text_left">Learning</h2>
    <hr>
    <h3>Examples &amp; Games</h3>
    <p>Check out some <a href="/examples">examples</a> of Opal-Phaser in action or check out some of the <a href="https://github.com/orbitalimpact/opal-phaser#games">games</a> built with Opal-Phaser.</p>
    <h3>Documentation</h3>
    <p><i>Coming soon!</i></p>
  </div>
