<:Title>
  Opal-Phaser

<:Body>
  
  <h1 class="header_text">Opal-Phaser:</h1>
  <h2 class="header_text">Make browser games in Ruby</h2>
  <div class="equation"></div>
  
  <div id="description">
    <p>Opal-Phaser is an <a href="http://opalrb.org">Opal</a> wrapper for the <a href="http://phaser.io">Phaser</a> framework, to write Canvas or WebGL games in Ruby.</p>
    <p>Follow Opal-Phaser development and news on <a href="https://twitter.com/opalphaser">Twitter</a> or <a href="https://github.com/orbitalimpact/opal-phaser">GitHub</a>.</p>
    
    <h2>Getting Started</h2>
    <p>To get Opal-Phaser, run this in your project directory:</p>
    <p><code class="front_page_code">$ gem install opal-phaser</code></p>
    <p>Or, add this line to your Gemfile:</p>
    <p><code class="front_page_code">gem 'opal-phaser'</code></p>
    <p>You can also specify a Git(Hub) repository, since Opal-Phaser is under development and the RubyGems library is not always up to date.</p>
    <p>Use either of these lines to do so:</p>
    <p><code class="front_page_code">gem 'opal-phaser', git: 'https://github.com/orbitalimpact/opal-phaser.git'</code></p>
    <p><code class="front_page_code">gem 'opal-phaser', github: 'orbitalimpact/opal-phaser'</code></p>
  </div>