<:Title>
  {{ view main_path, "title", {controller_group: 'main'} }}

<:Body>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <:nav href="/">Home</:nav>
        <:nav href="/examples">Examples</:nav>
        <:nav href="https://twitter.com/opalphaser">Twitter</:nav>
        <:nav href="https://github.com/orbitalimpact/opal-phaser">GitHub</:nav>
      </ul>
      <a href="/">
        <img id="logo" src="/assets/images/logo.png">
      </a>
    </div>

    <:volt:notices />

    {{ view main_path, 'body', {controller_group: 'main'} }}

    <p class="copyright">&copy; Orbital Impact {{ Time.now.year }}</p>

  </div>

<:Nav>
  <li class="{{ if active_tab? }}active{{ end }}">
    <a href="{{ attrs.href }}">{{ yield }}</a>
  </li>

