<:Title>
  {{ view main_path, "title", {controller_group: 'main'} }}

<:Body>
  <div class="nav" id="left">
    <a href="/">Home</a>
    <a href="/examples">Examples</a>
  </div>
  
  <a href="/">
    <div class="logo"></div>
  </a>
  
  <div class="nav" id="right">
    <a href="https://twitter.com/opalphaser">Twitter</a>
    <a href="https://github.com/orbitalimpact/opal-phaser">GitHub</a>
  </div>
  
  <:volt:notices />
  
  {{ view main_path, 'body', {controller_group: 'main'} }}
  
  <p class="copyright">&copy; Orbital Impact {{ Time.now.year }}</p>

<:Nav>
  <li class="{{ if active_tab? }}active{{ end }}">
    <a href="{{ attrs.href }}">{{ yield }}</a>
  </li>

